In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2022-07-14 15:40:23,38.4210,-121.4238,80.08,70,0,6.91
1,1,Tuktoyaktuk,CA,2022-07-14 15:43:58,69.4541,-133.0374,39.20,81,75,23.02
2,2,Buchanan,LR,2022-07-14 15:43:59,5.8808,-10.0467,76.60,85,100,10.65
3,3,Vaini,TO,2022-07-14 15:43:11,-21.2000,-175.2000,75.36,100,2,9.22
4,4,Tiksi,RU,2022-07-14 15:44:00,71.6872,128.8694,41.32,90,88,3.49

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [8]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2022-07-14 15:40:23,38.4210,-121.4238,80.08,70,0,6.91
2,2,Buchanan,LR,2022-07-14 15:43:59,5.8808,-10.0467,76.60,85,100,10.65
3,3,Vaini,TO,2022-07-14 15:43:11,-21.2000,-175.2000,75.36,100,2,9.22
5,5,Jamestown,US,2022-07-14 15:42:58,42.0970,-79.2353,75.02,61,0,9.22
6,6,Albany,US,2022-07-14 15:43:10,42.6001,-73.9662,78.26,62,6,1.01
7,7,Itarema,BR,2022-07-14 15:44:01,-2.9248,-39.9167,85.91,57,7,15.61
11,11,Kapaa,US,2022-07-14 15:40:23,22.0752,-159.3190,79.12,85,100,17.27
12,12,Ponta Do Sol,PT,2022-07-14 15:44:03,32.6667,-17.1000,81.72,62,3,8.03
16,16,Butaritari,KI,2022-07-14 15:40:37,3.0707,172.7902,81.36,81,69,17.40
18,18,Hamilton,US,2022-07-14 15:39:13,39.1834,-84.5333,83.61,58,20,8.05

In [22]:
preferred_cities_df.count()

City_ID       207
City          207
Country       207
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Laguna      US     80.08  38.4210 -121.4238
2       Buchanan      LR     76.60   5.8808  -10.0467
3          Vaini      TO     75.36 -21.2000 -175.2000
5      Jamestown      US     75.02  42.0970  -79.2353
6         Albany      US     78.26  42.6001  -73.9662
7        Itarema      BR     85.91  -2.9248  -39.9167
11         Kapaa      US     79.12  22.0752 -159.3190
12  Ponta Do Sol      PT     81.72  32.6667  -17.1000
16    Butaritari      KI     81.36   3.0707  172.7902
18      Hamilton      US     83.61  39.1834  -84.5333

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Laguna,US,80.08,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,Buchanan,LR,76.60,5.8808,-10.0467,Kamaneahn Hotel Inc
3,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
5,Jamestown,US,75.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Albany,US,78.26,42.6001,-73.9662,
7,Itarema,BR,85.91,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
11,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Ponta Do Sol,PT,81.72,32.6667,-17.1000,Hotel do Campo
16,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge
18,Hamilton,US,83.61,39.1834,-84.5333,Six Acres Bed & Breakfast

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))